/* 
* Author Name : Rifat Bhuiya
* Author Email : hello.rifatbhuiya@gmail.com
* Project Version : 0.0.0.1
* (Note - This Website Based On 8-PT Padding Margin system!)
----------------
Table Of Content
----------------
0. Common CSS Start
1. Header CSS Start
2. Mobile Header CSS Start
3. Home Banner CSS Start
4. Home Welcome CSS Start
5. Home Product Card CSS Start
6. Home Testimonial CSS Start
7. Footer CSS Start
8. About Content CSS Start
9. Product Content CSS Start
10. Service Banner CSS Start
11. Service Content CSS Start
12. Colour Swatches Content CSS Start
13. Terms/Privacy Content CSS Start
14. Contact Content CSS Start
*/

:root {
  --primary: #91b4ae;
  --secondary: #132722;
  --territory: #5ca994;
  --quaternary: #84a199;
  --text: #384a44;
  --white: #ffffff;
  --white-thin: #f4f7f7;
  --gray: #e1e4e3;
  --black: #000000;
  --h1: 32px;
  --h2: 29px;
  --h3: 26px;
  --h4: 23px;
  --h5: 20px;
  --h6: 18px;
  --large: 18px;
  --base: 16px;
  --small: 14px;
  --radius-sm: 3px;
  --radius-md: 5px;
  --radius-lg: 25px;
  --radius-round: 50%;
  --transition: all ease 0.5s;
  --font-oxygen: "Oxygen", sans-serif;
  --font-charmonman: "Charmonman", "cursive";
  --font-marck_script: "Marck Script", "cursive";
  --font-open_sans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
span,
address {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--white);
  background-color: var(--secondary);
}

::-moz-selection {
  color: var(--white);
  background-color: var(--secondary);
}

.container-padding {
  padding: 0 5%;
}

body {
  color: var(--text);
  font-size: var(--base);
  scroll-behavior: smooth;
  font-weight: 400;
  font-family: var(--font-oxygen);
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

.i-flex {
  display: inline-flex;
}

.form-label {
  font-weight: 600;
  font-size: var(--base);
  margin-bottom: 4px;
}

.form-control {
  border: 2px solid var(--bs-border-color);
}

.form-control::placeholder {
  font-size: var(--small);
}

.btn-model {
  border: none;
  background-color: transparent;
}

.btn-one {
  padding: 8px 32px;
  color: var(--text);
  background-color: var(--gray);
  font-weight: 600;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  border-radius: var(--radius-sm);
  -webkit-border-radius: var(--radius-sm);
  -moz-border-radius: var(--radius-sm);
  -ms-border-radius: var(--radius-sm);
  -o-border-radius: var(--radius-sm);
}

.btn-one:hover {
  opacity: .7;
}
/* Common CSS End */

.main-header {
  padding: 12px 0;
  background-color: var(--primary);
  box-shadow: 0.5px 0.5px 3px 0 rgba(0, 0, 0, 0.2);
}

.main-header.stick-nav,
.mobile-header.stick-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: rgba(145, 180, 174, 0.9);
  animation: sticky-anim 0.5s linear 1;
  -webkit-animation: sticky-anim 0.5s linear 1;
}

@keyframes sticky-anim {
  0% {
    top: -40px;
  }

  100% {
    top: 0;
  }
}

.header-links a {
  color: var(--secondary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.header-links a:hover {
  opacity: 0.7;
}

.header-links .tel {
  font-size: var(--large);
  font-weight: 700;
}

.header-links a:hover {
  text-decoration: underline;
}

.header-links i {
  height: 24px;
  width: 24px;
  font-size: var(--sm);
  line-height: 24px;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: var(--radius-round);
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  -ms-border-radius: var(--radius-round);
  -o-border-radius: var(--radius-round);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.header-links i:hover {
  border: 1px solid transparent;
  color: var(--primary);
  background-color: var(--text);
}

.main-header .nav-list li {
  display: inline-block;
  margin: 0 8px;
}

.main-header .nav-list a {
  color: var(--secondary);
  font-weight: 300;
  text-transform: uppercase;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-header .nav-list a:hover,
.main-header .nav-list .active,
.main-header .nav-list .dropdown-toggle.show {
  font-weight: 700;
}

.main-header .nav-item-dropdown a {
  text-transform: capitalize;
}

.main-header .nav-list .dropdown-menu {
  background-color: var(--primary);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transform: translate(0px, 34px) !important;
  -webkit-transform: translate(0px, 34px) !important;
  -moz-transform: translate(0px, 34px) !important;
  -ms-transform: translate(0px, 34px) !important;
  -o-transform: translate(0px, 34px) !important;
  --bs-dropdown-min-width: 12rem;
}

.main-header .nav-item-dropdown li {
  margin: 0;
  width: 100%;
}

.main-header .nav-item-dropdown a {
  width: 100%;
  padding: 4px 16px;
}
/* Header CSS End */

.mobile-header {
  display: none;
  padding: 12px 0;
  background-color: var(--primary);
}

.menu-bar button {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 24px;
}

.menu-bar button:hover {
  color: var(--secondary);
}

.mobile-menu {
  background-color: var(--primary);
  overflow-y: scroll;
}

.mobile-menu .offcanvas-header {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--quaternary);
}

.mobile-menu .logo img {
  width: 200px;
}

.mobile-menu .close {
  color: var(--white);
  font-size: 26px;
  cursor: pointer;
}

.mobile-menu .close:hover {
  color: var(--secondary);
}

.m-menu-content {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--quaternary);
}

.m-menu-content .nav-list li {
  margin: 2px 0;
  width: 100%;
}

.m-menu-content .nav-list a {
  width: 100%;
  padding: 6px 16px;
  color: var(--secondary);
  font-weight: 300;
  text-transform: uppercase;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.m-menu-content .nav-list a:hover,
.m-menu-content .nav-list .active-dropdown,
.m-menu-content .nav-list .active {
  font-weight: 700;
  background-color: rgba(89, 127, 114, 0.4);
}

.m-menu-content .nav-item-dropdown li a {
  font-size: var(--base);
  padding: 6px 20px;
  text-transform: capitalize;
  background-color: rgba(89, 127, 114, 0.2);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.m-menu-content .nav-item-dropdown li:hover a {
  background-color: rgba(89, 127, 114, 0.4);
}

.m-links {
  padding-top: 24px;
}

.m-links li {
  display: inline-block;
  margin: 0 2px;
}

.m-links a {
  color: var(--secondary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.m-links a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.m-links .tel {
  font-size: var(--large);
  font-weight: 700;
}

.m-links i {
  height: 24px;
  width: 24px;
  font-size: var(--sm);
  line-height: 24px;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: var(--radius-round);
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  -ms-border-radius: var(--radius-round);
  -o-border-radius: var(--radius-round);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.m-links i:hover {
  border: 1px solid transparent;
  color: var(--primary);
  background-color: var(--text);
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-width: 340px;
}
/* Mobile Header CSS End */

.home-banner .prev,
.next {
  position: absolute;
  top: 40%;
  z-index: 11;
  font-size: 40px;
  cursor: pointer;
  color: var(--text);
  background-color: rgba(19, 38, 33, 0.1);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.home-banner .prev:hover,
.next:hover {
  color: var(--white);
  background-color: rgba(19, 38, 33, 0.5);
}

.home-banner .prev {
  left: 24px;
}

.home-banner .next {
  right: 24px;
}

.home-banner .slick-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.home-banner .slick-dots li {
  display: inline-block;
  margin: 0 2px;
}

.home-banner .slick-dots li button {
  border: none;
  color: transparent;
  height: 12px;
  width: 12px;
  background-color: #597f72;
  border-radius: var(--radius-round);
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  -ms-border-radius: var(--radius-round);
  -o-border-radius: var(--radius-round);
}

.home-banner .slick-dots .slick-active button {
  background-color: var(--secondary);
}

.banner-content {
  height: 600px;
}

.banner-text {
  width: 45%;
  padding: 20px 24px;
  color: var(--secondary);
  background-color: var(--primary);
  position: absolute;
  right: 0;
  bottom: 0;
}

.banner-text h1 {
  font-weight: 700;
}

.banner-text p a {
  color: var(--secondary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.banner-text p a:hover {
  text-decoration: underline;
}
/* Home Banner CSS End */

.home-welcome {
  padding: 40px 0;
}

.home-welcome h2 {
  font-family: var(--font-charmonman);
  font-weight: 400;
  color: var(--primary);
}

.home-welcome h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.home-welcome p {
  font-size: var(--large);
  margin: 16px 0;
}

.home-welcome p a {
  color: var(--text);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.home-welcome p a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
/* Home Welcome CSS End */

.home-card {
  padding-bottom: 40px;
}

.home-card .card-content .img {
  overflow: hidden;
}

.home-card .card-content img {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.home-card .card-content:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.home-card .card-content .text {
  padding: 0 8px;
}

.home-card .card-content .text h3 {
  margin: 16px 0;
  font-family: var(--font-open_sans);
}

.home-card .card-content .text p {
  height: 120px;
  color: var(--quaternary);
}

.home-card .card-content .card-action {
  color: var(--primary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.home-card .card-content .card-action:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.home-card .card-content .card-action i {
  font-size: var(--small);
}
/* Home Product Card CSS End */

.home-testimonial {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--territory);
}

.home-testimonial .heading h2 {
  font-family: var(--font-marck_script);
}

.testimonial-slider .content {
  padding: 0 12px;
}

.testimonial-slider .content p {
  font-size: var(--small);
  font-weight: 700;
  margin-top: 12px;
}

.testimonial-slider .content p:first-child {
  margin-top: 0;
}
/* Home Testimonial CSS End */

.footer-top {
  padding: 32px 0;
  color: var(--gray);
  background-color: var(--secondary);
}

footer .top-left ul a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

footer .top-left ul a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

footer .top-left .tel {
  color: var(--gray);
  font-size: 26px;
  font-weight: 300;
}

footer .top-left .mail {
  margin: 8px 0;
  color: var(--gray);
  font-size: var(--small);
  font-weight: 400;
}

footer .top-left .social {
  color: var(--gray);
  height: 24px;
  width: 24px;
  font-size: var(--small);
  line-height: 24px;
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: var(--radius-round);
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  -ms-border-radius: var(--radius-round);
  -o-border-radius: var(--radius-round);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

footer .top-left .social:hover {
  border: 1px solid transparent;
  color: var(--secondary);
  background-color: var(--gray);
}

footer .nav-list li {
  display: inline-block;
  margin-right: 8px;
}

footer .nav-list a {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--gray);
  font-weight: 300;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

footer .nav-list a:hover {
  opacity: .7;
  text-decoration: underline;
}

footer address {
  font-weight: 300;
}

footer .copy {
  font-size: 12px;
}

.footer-bttm {
  padding-bottom: 4px;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer-bttm::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(131, 160, 152, 0.7);
  z-index: 1;
}

.footer-bttm img {
  margin-top: -10px;
}
/* Footer CSS End */

.about-content {
  padding: 64px 0;
}

.about-content .top-left {
  padding: 0 32px;
}

.about-content .top-left h5 {
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.5;
}

.about-content .bottom {
  background-color: var(--white-thin);
}

.about-content .inner-bg {
  padding: 20px 40px;
  background-color: var(--primary);
}

.about-content .bottom-left-top h4 {
  font-weight: 700;
  padding: 0 40px;
  text-align: center;
}

.about-content .bottom-left-top ul {
  margin-top: 16px;
  list-style-position: inside;
  list-style-type: disc;
}

.about-content .bottom-right-top h4 {
  font-family: var(--font-open_sans);
  font-weight: 700;
  padding: 48px 64px;
}

.about-content .bottom-right-top p {
  font-size: var(--large);
}

.about-content .bottom-right-top p:first-child a {
 color: var(--text);
 transition: var(--transition);
 -webkit-transition: var(--transition);
 -moz-transition: var(--transition);
 -ms-transition: var(--transition);
 -o-transition: var(--transition);
}

.about-content .bottom-right-top p:last-child {
  color: var(--quaternary);
}

.about-content .bottom-right-top p:last-child a {
  color: var(--quaternary);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.about-content .bottom-right-top p:last-child a:hover,
.about-content .bottom-right-top p:first-child a:hover {
  opacity: .7;
  text-decoration: underline;
}
/* About Content CSS End */

.product .page-heading {
  margin: 4px 0;
  color: var(--white);
}

.product .page-heading .d-flex {
  gap: 1px;
}

.product .page-heading .text {
  width: 40%;
  padding: 80px 48px;
  background-color: var(--secondary);
}

.product .page-heading .text h1 {
  font-family: var(--font-open_sans);
  font-weight: 700;
}

.product .page-heading .text p {
  margin-top: 12px;
  font-size: var(--large);
}

.product .page-heading .img {
  width: 60%;
}

.page-brand {
  padding: 20px 0;
}

.page-card {
  padding: 20px 0 40px 0;
}

.page-card .container-padding {
  padding: 0 10%;
}

.page-card .card-text h2 {
  font-family: var(--font-open_sans);
  font-weight: 700;
  margin-bottom: 8px;
}

.page-card .card-text p {
  font-size: var(--large);
}
/* Product Content CSS End */

.service-banner {
  height: 600px;
  position: relative;
}

.service-banner-text {
  width: 45%;
  padding: 20px 24px;
  color: var(--secondary);
  background-color: var(--primary);
  position: absolute;
  right: 0;
  bottom: 10%;
}

.service-banner-text h1 {
  font-family: var(--font-open_sans);
  font-weight: 700;
}
/* Service Banner CSS End */

.services {
  padding: 40px 0;
}

.services .services-left h2,
.services .services-left h3 {
  font-family: var(--font-open_sans);
  font-weight: 700;
}

.services .services-left h4 {
  font-weight: 700;
}

.services .services-left p {
  margin-top: 8px;
  line-height: 1.5;
  font-size: var(--large);
}

.services .services-left .img {
  margin-top: 80px;
}

.services .services-right .chas-text {
  color: #603980;
  font-family: var(--font-open_sans);
  font-weight: 300;
  font-size: var(--large);
}

.services .services-right h3 {
  font-weight: 700;
}

.services .services-right p {
  margin-top: 8px;
}

.window-blind {
  padding: 40px 0;
  background-color: var(--white-thin);
}

.window-blind ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 12px 0 0 12px;
}

.window-blind li {
  margin: 2px 0;
  font-size: var(--base);
}

.window-blind p {
  font-size: var(--large);
}

.window-blind p:first-child {
  margin-bottom: 8px;
}

.window-blind p a {
  color: var(--text);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.window-blind p a:hover {
  opacity: .7;
  text-decoration: underline;
}

.service-form {
  padding: 40px 0;
}
/* Service Content CSS End */

.colour-swatches {
  padding: 48px 0;
}

.colour-swatches .page-heading p {
  font-size: var(--large);
  margin-top: 8px;
}

.colour-swatches .range-title h4, p {
  display: inline-block;
}

.colour-swatches .range-title h4 {
  font-weight: 700;
}

.colour-swatches .range-title p {
  font-size: var(--large);
}

.colour-swatches .gap {
  gap: 28px;
}

.colour-swatches .range-box {
  width: 20%;
}

.colour-swatches .range-box-content {
  width: 42%;
  padding: 28px 40px;
  height: 180px;
  text-align: center;
  background-color: var(--white-thin);
}

.colour-swatches .range-box-content p {
  font-size: var(--base);
}

.colour-swatches .range-box-content p a {
  color: var(--text);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.colour-swatches .range-box-content p a:hover {
  opacity: .7;
  text-decoration: underline;
}

.colour-swatches .range-box-content p:last-child {
  color: #4f675f;
}

.colour-swatches .range-box-content p:last-child a {
  color: #4f675f;
}

.colour-swatches .range-colour {
  height: 180px;
}

.colour-swatches .colour-title .name {
  font-weight: 700;
}

.colour-swatches .colour-title p {
  display: block;
  font-size: var(--small);
  line-height: 1.3;
}
/* Colour Swatches CSS End */

.terms-privacy {
  padding: 48px 0;
}

.terms-privacy h4 {
  margin-bottom: 8px;
  font-weight: 700;
}

.terms-privacy h5 {
  margin-bottom: 16px;
}

.terms-privacy h5,
.terms-privacy h6 {
  font-weight: 700;
}

.terms-privacy p {
  margin: 8px 0 40px;
}

.terms-privacy p:last-child {
  margin-bottom: 0;
}
/* Colour Swatches CSS End */

.contact {
  padding: 48px 0;
}

.map iframe {
  height: 400px;
}

.contact p {
  font-size: var(--large);
}

.contact ul {
  margin: 16px 0;
}

.contact ul a {
  font-weight: 700;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.contact ul a:hover {
  opacity: .7;
  text-decoration: underline;
}

.contact ul li {
  margin: 2px 0;
}

.contact ul .tel {
  color: var(--text);
  font-size: var(--h4);
}

.contact ul .mail {
  color: var(--text);
  font-size: var(--large);
}

.contact h5 {
  font-weight: 700;
}

.contact address {
  margin-top: 4px;
  font-size: var(--base);
}
/* Contact content CSS End */
